@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
  --primary-color: rgb(15, 15, 15);
  --primary-background-color: rgb(235, 235, 235);
  --secondary-color: rgb(15, 15, 15);
  --secondary-background-color: rgb(255, 255, 255);
  --highlight-color: rgb(204, 41, 90);
  --transparent-background-color: rgba(255, 255, 255, 0.75);
  --light-text-color: rgb(82, 82, 82);
  --box-shadow-color: rgb(216, 216, 216);

  --border-radius: 1rem;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}
button:hover {
  filter: brightness(0.95);
}

.card {
  color: var(--secondary-color);
  background-color: var(--secondary-background-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--box-shadow-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(240, 240, 240);
    --primary-background-color: rgb(4, 4, 4);
    --secondary-color: rgb(245, 245, 245);
    --secondary-background-color: rgb(34, 34, 34);
    --highlight-color: rgb(204, 41, 90);
    --transparent-background-color: rgba(34, 34, 34, 0.75);
    --light-text-color: rgb(170, 170, 170);
    --box-shadow-color: rgb(3, 3, 3);
  }
}
